:root {
    /*========= Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --hue: 152;
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --primary-color: hsla(221, 99%, 59%, 1);
    --secondary-color: hsla(224, 100%, 9%, 1);
    --tertiary-color: hsla(0, 0%, 9%, 1);
    --bg-light: hsla(151, 100%, 50%, 0.08);
    --title-color: var(--tertiary-color);
    --text-color: var(--secondary-color);
    --bg-dark: var(--black);
    --bg-default: var(--primary-color);
}
