/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
	--header-height: 5rem; // 80px

	/*========== Font and typography ==========*/
	/*.5rem = 8px | 1rem = 16px ...*/
	--font-body: "Poppins", sans-serif;

	--big-font-size: 2rem;
	--h1-font-size: 1.5rem;
	--h2-font-size: 1.25rem;
	--h3-font-size: 1rem;
	--normal-font-size: 0.938rem;
	--small-font-size: 0.813rem;
	--smaller-font-size: 0.75rem;

	// Responsive typography
	@media screen and (min-width: 968px) {
		--big-font-size: 3rem;
		--h1-font-size: 2.5rem;
		--h2-font-size: 1.5rem;
		--h3-font-size: 1.25rem;
		--normal-font-size: 1rem;
		--small-font-size: 0.875rem;
		--smaller-font-size: 0.813rem;
	}

	/*========== Font weight ==========*/
	--font-medium: 500;
	--font-semi-bold: 600;
	--font-bold: 700;

	/*========== Letter Spacing ==========*/
	--spacing-big:0.02em;
	--spacing-small:0.01em;

	/*========== Margenes ==========*/
	/*.5rem = 8px | 1rem = 16px ...*/
	--m-0-5: 0.5rem;
	--m-0-75: 0.75rem;
	--m-1: 1rem;
	--m-1-5: 1.5rem;
	--m-2: 2rem;
	--m-2-5: 2.5rem;

	/*========== z index ==========*/
	--z-tooltip: 10;
	--z-fixed: 100;
}
