@use "../util" as *;
/*============== ABOUT ===============*/

.about {
	background: var(--bg-light);
	display: grid;
	grid-template-columns: repeat(11, minmax(min-content, 1fr));
	grid-template-rows: repeat(4, 1fr);
	justify-content: center;
	align-items: center;
	margin-top: rem(-60);
	padding: rem(32);
	height: rem(600);

	&__container {
		text-align: center;
		padding: rem(24);
		grid-column: 3 / span 7;
		grid-row: 1 /-1;
		justify-self: center;
	}

	&__content {
		display: flex;
		gap: var(--m-1-5);
		align-items: center;
		justify-content: center;
		margin-top: var(--m-2-5);
	}

	&__card {
		width: rem(253);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		&-image {
			width: rem(100);
			height: rem(100);
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 50vh;

			img {
				width: rem(48);
				height: rem(48);
			}
		}
	}

	&__image {
		grid-row: 1/-1;
		justify-self: center;
		&--right {
			grid-column: 10/-1;
			transform: translateY(rem(-100));
		}
		&--left {
			grid-column: 1 / span 3;
			align-self: end;
			transform: translate(-50%, -50%);
			margin: rem(50);
		}
	}

	@include breakpoint-down(medium) {
	 
		height: rem(920);
		&__content {
			flex-wrap: wrap;
		}
	}
}
