@use "../util" as *;
/*============== FEATURES ===============*/

.features {
	margin: rem(24) 0;

	&__container {
		_margin: rem(24) 0;
	}

	&__content {
		padding: rem(24) 0;
		width: 90%;
		display: grid;
		place-content: center;
		margin: auto;
	}

	&__section {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: rem(24);
		padding: rem(24) 0;
		margin: rem(48) 0;

		&-image {
			max-width: 100%;
		}
	}

	&__details {
		width: 50%;

		&-button {
			color: var(--button-primary-color);
		}
	}
}
