@use "../util" as *;

/*=============== HEADER ===============*/
.header {
	width: 100%;
	overflow: hidden;
}

/*=============== NAV ===============*/
.nav {
	width: 100vw;
	height: var(--header-height);
	display: flex;
	align-items: center;
	justify-content: space-between;

	&__logo {
		width: rem(200);
	}

	&__hamburger {
		display: none;
		font-size: rem(24);
		text-align: center;
		line-height: 1em;
		padding: rem(8);
		&:hover,
		&:active {
			background-color: var(--bg-dark);
			color: var(--white);
		}

		&--close {
			transform: translateX(rem(-20));
			transition: all 0.3s ease-in;
			opacity: 0;
		}
	}

	&__list {
		list-style: none;
		display: flex;
		align-items: center;
		gap: var(--m-1-5);
	}

	&__item {
		text-decoration: none;
	}

	&__link {
		color: var(--text-color);
		font-weight: var(--font-medium);
		display: flex;
		align-items: center;
		text-align: center;
		letter-spacing: 0.03em;
		transition: 0.4s;

		&:hover {
			color: var(--primary-color);
		}

		&-icon {
			font-size: rem(16);
			margin-right: var(--m-0-5);
		}
	}

	@include breakpoint-down(small) {
		position: fixed;
		top: 0;
		background: var(--white);
		z-index: 100;
		&__logo {
			width: rem(200);
		}

		&__hamburger {
			display: grid;
			&--close {
				transform: translateX(0);
				opacity: 1;
			}
		}

		&__list {
			flex-direction: column;
			position: absolute;
			top: var(--header-height);
			left: 0;
			right: 0;
			background: var(--white);
			height: 70vh;
			padding: rem(16);
			opacity: 0;
		}
	}
}

.show-menu{
	opacity: 1;
}